# Created by .ignore support plugin (hsz.mobi)
### Example user template

# IntelliJ project files
.idea
#*.iml
#out
#gen
modules/
i18n/
config/
themes/
.htaccess
Bootstrap.php
favicon.ico
index.php
install.php
admin.php
update.php
rest.php

### Sass template
.sass-cache/
*.css.map

### Composer template
composer.phar
/vendor/*
!vendor/jm-organization/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
